html,body{
  height: 100%;
}

body{
  background-color: #ffffff;
  width: 100%;
}

.search{
  display: flex;
  align-content: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px auto;
}

input{
  height: 50px;
  border-radius: 4px;
  text-align: center;
  width:60%;
}

ul{
  column-count: 1;
  width: 70%;
  list-style-type: none;
  margin: auto;
  padding: 0;
}

li{
  width: 100%;
  margin-top: 1%;
  display: inline-block;
  margin-bottom: 1em;
  box-shadow: 1px 3px 8px;
}

img, video, iframe{
  width: 100%;
}

@media screen and (min-width:700px){
  ul{
    column-count: 2
  }

  input{
    width: 80%;
  }
}

@media screen and (min-width:1000px){
  ul{
    column-count: 3;
    width: 90%;
    margin: auto;
  }
}
