*{
  padding: 0;
  margin: 0;
}

body{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

ul{
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  width: 75%;
}

ul li{
  width: calc(33.3333333% - 10px);
  margin: 5px;
}

ul li img{
  width: 100%;
}
